<div class="secret-page">

    <!-- Top Left -->

    <div class="found-note">

        <span class="spark">✦</span>

        <p>
            You found something.
        </p>

    </div>

    <!-- Quote -->

    <aside class="quote">

        <p>
            Great things are done
            by a series of small things
            brought together.
        </p>

        <span>
            — Vincent van Gogh
        </span>

    </aside>

    <!-- Hero -->

    <main class="hero">

        <p class="hero-small">
            Every journey starts somewhere.
        </p>

        <h1>

            Every great project

            <br>

            begins with a

            <span>PATH.</span>

        </h1>



    </main>

    <!-- Bottom Left -->

    <footer class="signature">

        <span>

            Crafted with curiosity by

        </span>

        <h2>

            — Osama Heykal

        </h2>

    </footer>

    <!-- Bottom Right -->

    <a routerLink="/" class="return-home">

        <span class="arrow">

            ←

        </span>

        Return Home

    </a>

</div>